@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Business Frontpage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <h1 class="display-5 fw-bolder text-white mb-2">Sobre nosotros</h1>
                        <p class="lead text-white-50 mb-4">Somos una empresa líder en el mercado de repuestos de motos, especializada en logística y distribución de mercaderías en Argentina</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Features section-->
    <section class="py-5 border-bottom" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3" style=" width: 50px; height: 50px; display: flex; justify-content: center; align-items: center;"><i class="bi bi-collection"></i></div>
                    <h2 class="h4 fw-bolder">Mision</h2>
                    <p>Proporcionar a los negocios relacionados con motocicletas en la región, una amplia selección de repuestos de alta calidad, accesibles y confiables, respaldada por un servicio logístico excepcional</p>
                   
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3" style=" width: 50px; height: 50px; display: flex; justify-content: center; align-items: center;"><i class="bi bi-building"></i></div>
                    <h2 class="h4 fw-bolder">Vision</h2>
                    <p>Convertirnos en el líder regional indiscutible en la distribución de repuestos de motos, ofreciendo a nuestros clientes la más amplia gama de productos de alta calidad y soluciones logísticas excepcionales.</p>
                    
                </div>
                <div class="col-lg-4">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3" style=" width: 50px; height: 50px; display: flex; justify-content: center; align-items: center;"><i class="bi bi-toggles2"></i></div>
                    <h2 class="h4 fw-bolder">Nuestra Garantía</h2>
                    <p>En Moto Partes Express, nos enorgullece ser su socio confiable en la cadena de suministro de repuestos de motos, y esperamos continuar brindándole soluciones logísticas de primer nivel para su negocio.</p>   
                </div>
            </div>
        </div>
    </section>
   
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>
