@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   
    Layout = "Layout";
}
<!DOCTYPE html>
<html>
<head>
    <title>Confirmation</title>
</head>
<body>
    <h1>¡Solicitud enviada correctamente!</h1>
    <p>Gracias por contactarnos. Tu solicitud ha sido enviada con éxito.</p>
</body>
</html>